@import '../variables.scss';
.menu{
    background-color: $airBean_pink;
    align-items: flex-start;
    padding: 0 1.5rem 0 1.5rem;
    .leaf{
        position: fixed;
        &:first-child{
            top: 0;
        }
        &:last-child{
            bottom: 0;
        }
    }
    .cart{
        position: fixed;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        background-color: $airBean_brown;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        .nrItem{
            background-color: $airBean_orange;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        
    }
    .menu-container{
        padding-top: 35%;
        padding-bottom: 30%;
        h1{
            font-size: 3rem;
            color: $airBean_brown;
            text-align: center;
            margin-bottom: 2rem;
        }
        .menu-list{
            list-style: none;
            .menu-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.8rem;
                color: $airBean_brown;
                &:last-child(){
                    margin-bottom: 0;
                }
                .menu-link{
                    background-color: $airBean_brown;
                    border-radius: 50%;
                    flex: 0 0 32px;
                    height: 32px;
                    padding: .6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background-color: brown;
                    }
                }
                .menu-box{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: baseline;
                    flex: 0 0 85%;
                    h3,.price{
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                    .menu-info{
                        flex: 0 0 100%;
                        p{
                            font-size: 0.75rem;
                            font-weight: 400;
                            font-family: 'Work sans';
                        }
                    }
                }
            }
        }
    }
}